<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs') %> 

<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <p>Oops! page not foud. :)</p>
</body>
</html>