<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs') %> 
<head>
    <link rel="stylesheet" href="/styles/server-error.css">
</head>
<style>
    .redirect a{
        font-weight: 500;
        text-decoration: none;
    }
</style>

<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

    <main>
        <div>
            <h1>Something went wrong</h1>
            <p>Oh no, you were not meant to see this page</p>
            <p>We are working on resolving the issue</p>
            <div class="redirect">
                <a href="<%= redirect %>">
                    Go back
                </a>
            </div>
            <a href="/">Homepage</a>
        </div>
        <!-- Background image: <a href='https://www.freepik.com/vectors/web'>Web vector created by storyset - www.freepik.com</a> -->
    </main>
</body>
</html>