header {
	justify-content: space-between;
}

h1 {
	font-size: 1.7rem;
	margin-bottom: 0.2rem;
}

.new-btn,
header,
.right {
	display: flex;
	align-items: center;
}

.filter {
	margin-right: 2rem;
	position: relative;
	cursor: pointer;
}

.filter img {
	margin-left: 0.3rem;
	transition: transform 0.5s;
}

.filter.active img {
	transform: rotateX(180deg);
}

.list {
	position: absolute;
	width: 125px;
	background-color: var(--secondary-bg);
	border-radius: 7px;
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%) scale(1, 0);
	transition: transform 0.5s;
	overflow: hidden;
}

.list.active {
	transform: translateX(-50%) scale(1);
}

.list button {
	display: block;
	width: 100%;
	border: none;
	background-color: transparent;
	color: inherit;
	padding: 0.8rem 0.5rem;
	font-size: 0.9rem;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
}

.list button.active {
	background-color: var(--lpurple);
}

.new-btn {
	background-color: var(--lpurple);
	padding: 5px 15px 5px 7px;
	border-radius: 50px;
	text-decoration: none;
	color: inherit;
}

.new-btn button {
	border: none;
	background-color: var(--primary-clr);
	background-image: url('../svgs/plus.svg');
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	padding: 20px;
	margin-right: 10px;
}
.no-inv {
	width: max-content;
	text-align: center;
	margin: 0 auto;
	display: grid;
	place-items: center;
	min-height: 60vh;
}
.no-inv h3 {
	font-size: 1.2rem;
	margin: 2.5rem 0 1rem;
}
.no-inv p {
	width: 23ch;
	line-height: 1.5;
}

.invoices {
	margin-top: 2rem;
}

.invoice {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-bg);
	text-decoration: none;
	color: inherit;
	margin: 1rem 0;
	padding: 2rem;
	border-radius: 6px;
	transition: border 0.5s;
	border: 1px solid transparent;
}
.invoice:hover {
	border: 1px solid var(--lpurple);
}
.total {
	font-size: 1rem;
	font-weight: 700;
}

.end {
	display: flex;
	align-items: center;
	justify-content: end;
	min-width: 131px;
}
.mobile {
	display: none;
	padding: 1.6rem 2rem;
}
.mobile > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mobile > div:first-child {
	margin-bottom: 1.5rem;
}
.mobile .date {
	margin-bottom: 0.7rem;
}

.arrow {
	margin-left: 20px;
	width: 10px;
	height: 12px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 1.4rem;
	}
	.new-btn button {
		margin-right: 8px;
		padding: 17px;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

@media (max-width: 425px) {
	h1 {
		font-size: 1.2rem;
	}

	.filter {
		margin-right: 0.8rem;
	}
	.filter img {
		margin-left: 0.1rem;
	}
	.new-btn {
		padding: 7px;
	}
	.new-btn button {
		margin-right: 0;
	}
	.new-btn p {
		display: none;
	}
	.mobile {
		padding: 1.6rem 1rem;
	}
}
